---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Link Test">
  <h1 data-ps="src/pages/test-links.astro:rp5s48">Link Test</h1>
  <p data-ps="src/pages/test-links.astro:dnlij4">External: <a href="https://www.google.com" data-ps="src/pages/test-links.astro:dvuqjw">Google</a></p>
  <p data-ps="src/pages/test-links.astro:dnlij5">Internal: <a href="/about" data-ps="src/pages/test-links.astro:dvuqjx">About</a></p>
</BaseLayout>
